<div style="float: right;">
    <a href="#">
        <i class="fas fa-chevron-circle-up icon"></i>
    </a>
</div>
<!-- <br> -->
<center>
<p>

    {{ with .Site.Data.Socials }}
    <ul class="socials">
        {{- range sort .socials "weight" -}}
            <li class="socials-item">
                <a href="{{ .url }}" target="_blank" rel="external noopener" title="{{ .title }}">
                    <!-- {{ .title}} -->
                    {{- replace (index $.Site.Data.SVG .icon) "icon" "icon social-icon" | safeHTML -}}
                </a>
            </li>
        {{- end -}}
    </ul>
{{ end }}
© {{ if isset .Site.Params "author"}}{{ .Site.Params.author }}, {{end}}{{ now.Year }}
</p>
</center>

<script>
    var toggle = document.getElementById("dark-mode-toggle");
    var darkTheme = document.getElementById("dark-mode-theme");

    toggle.addEventListener("click", () => {
        console.log(toggle.className)
        if (toggle.className === "light") {
            setTheme("dark");
        } else if (toggle.className === "dark") {
            setTheme("light");
        }
    });

    function setTheme(mode) {
        localStorage.setItem("dark-mode-storage", mode);
        if (mode === "dark") {
            console.log(mode);
            darkTheme.disabled = false;
            toggle.className = "dark";
            toggle.innerHTML = "🌖"
        } else if (mode === "light") {
            darkTheme.disabled = true;
            toggle.className = "light";
            toggle.innerHTML = "🌘"
        }
    }


    var savedTheme = localStorage.getItem("dark-mode-storage") || "light";
setTheme(savedTheme);

// function setTheme(mode) {
//     localStorage.setItem("dark-mode-storage", mode);

//     // same as above
// }
</script>
