<div style="float: right;">
    <a href="#">
        <i class="fas fa-chevron-circle-up icon fa-lg" style="margin-top: 0.5em; color: var(--footer-hr);" ></i>
    </a>
</div>
<!-- <br> -->
<center>
<p style="margin: 2em;">

    {{ with .Site.Data.Socials }}
    <ul class="socials">
        {{- range sort .socials "weight" -}}
            <li class="socials-item">
                <a href="{{ .url }}" target="_blank" rel="external noopener" title="{{ .title }}">
                    <!-- {{ .title}} -->
                    {{- replace (index $.Site.Data.SVG .icon) "icon" "icon social-icon" | safeHTML -}}
                </a>
            </li>
        {{- end -}}
    </ul>
{{ end }}
<div class="copyright">
    <a href="https://beta.pranavgoyanka.me" style="color: var(--footer-hr);">View Beta Version</a>
    <br>
    © {{ if isset .Site.Params "author"}}{{ .Site.Params.author }}, {{end}}{{ now.Year }}
</div>
</p>
</center>

<script>
    var toggle = document.getElementById("dark-mode-toggle");
    var darkTheme = document.getElementById("dark-mode-theme");

    toggle.addEventListener("click", () => {
        console.log(toggle.className)
        if (toggle.className === "light") {
            setTheme("dark");
        } else if (toggle.className === "dark") {
            setTheme("light");
        }
    });

    function setTheme(mode) {
        localStorage.setItem("dark-mode-storage", mode);
        if (mode === "dark") {
            console.log(mode);
            // darkTheme.disabled = false;
            document.documentElement.setAttribute("style", "--orange: #FC7753; \
                --turquise: #66D7D1;\
                --turquiseDark: #3CCDC6;\
                --purple: #7880B5;\
                --white: #444;\
                --snow: #121212;\
                --darkBlue: #478BC2;\
                --pink: #EA526F;\
                --navbar: #313131;\
                --font-color: #F2EFEA;\
                --footer-hr: #505050;\
                ")

            toggle.className = "dark";
            toggle.innerHTML = "🌖"
        } else if (mode === "light") {
            document.documentElement.setAttribute("style", "--orange: #FC7753;\
                --turquise: #66D7D1;\
                --turquiseDark: #3CCDC6;\
                --purple: #7880B5;\
                --white: #F2EFEA;\
                --snow: #FFFCFF;\
                --darkBlue: #254E70;\
                --pink: #EA526F;\
                --navbar: #f5f5f5;\
                --font-color: #333333\
                --code-bg: #3ccdc6;\
                --footer-hr: #b0b0b0;\
                ")

            
            toggle.className = "light";
            toggle.innerHTML = "🌘"
        }
    }


    var savedTheme = localStorage.getItem("dark-mode-storage") || "light";
setTheme(savedTheme);

</script>
