<h1 class="site-header">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
</h1>
<nav>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
    <!-- DARK MODE STUFF -->
    <span style="padding-left: 1.3em;" id="dark-mode-toggle" class="light"><nobr> 🌓</nobr></span>
    <!-- <a id="dark-mode-toggle" class="fal fa-moon-o" >Toggle Dark Mode</a> -->
</nav>
