{{ define "main" }}

    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <div>
            {{ $title := .Title }}
            {{ $Site := "pranavgoyanka.me/post/" }}
            <applause-button color="purple" style="width: 58px; height: 58px; float: right;" url={{ (print "pranavgoyanka.me/post/" $title) }} />
        </div style="float:left">
            {{ partial "articleInfoFull.html" . }}
        <div class="content">
            {{ .Content }}
        </div>
        <!-- {{ partial "articleInfoFull.html" . }} -->
    </article>
    {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}

{{ end }}