<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Follow Me</title>
        <style>
            .social-icons {
                list-style: none;
                padding: 0;
            }
            .social-icons li {
                display: inline;
                margin: 0 10px;
            }
            .social-icons a {
                text-decoration: none;
                color: inherit;
            }
            .social-icons img {
                width: 30px;
                height: 30px;
            }
        </style>
    </head>
    <body>
<p>

    
    I am an MS in Computer Science student at Boston University. Previously, I worked as a Software Development Engineer at Mobile Premier League. I completed by BE in Electronics and Communication Engineering from Thapar Institute of Engineering and Technology. I have a keen interest in working with different technologies. I have expertise in Go, Python, C++, JavaScript and TypeScript.
    <br>
    <br>
    
    I am always looking for something challenging to take on, and if you feel like you have something for me, do reach out!
</p>


<h2>Reach Me At: </h2>
<center>
    <ul class="social-icon">
        <li>
            <a href="https://github.com/pranavgoyanka" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/hydratedcomlag" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/pranavgoyanka/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
            </a>
        </li>
    </ul>

</p>
</center>
</body>
</html>
